
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #27ae60;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

button {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 25px;
    
}

i {
    color: #1abc9c;
}

#playercount, #compcount {
    border: 2px solid black;
    padding: 100px;
    font-size: 24px;

}

#score {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    margin: 25px;
    text-align: center;

}

#header {
    font-size: 48px;
    padding: 32px;
}

#results {
    font-size: 32px;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 36px;
}

